main.main__vb-court{
    display: grid;
    grid-template-columns: repeat(7, 14%);
    grid-template-rows: repeat(6, 80px);
    width: 45%;
    gap: 2px;
}

main.main__vb-court > div.line__1, div.line__2, div.line__3{
    background-color: orange;
}

main.main__vb-court > div.line__4, div.line__5, div.line__6{
    background-color: rgb(61, 106, 255);
}

main.main__vb-court div.set__temporarie-bg-orange{
    background-color: rgb(255, 165, 0);
}

main.main__vb-court div.set__temporarie-bg-blue{
    background-color:  rgb(61, 106, 255);
}


div.court__square.inserted{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 8px;
    width: 100%;
}

div.court__square.inserted p{
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    background-color: white;

    border-radius: 8px;
    padding: 4px 6px;
}

div.court__square.inserted span{
    font-size: 14px;
    font-weight: bold;
    padding: 14px 10px;
    background-color:white;
    color: black;
    display: none;
    position: absolute;
    width: max-content;
    z-index: 1;
    text-transform: capitalize;
}

div.court__square.inserted.player__serving{
    background-color: rgb(34, 255, 34);   
    font-weight: 600;
}

div.court__square:hover span{
    display: flex;
}

/* SECTION BUTTON */

section.section__group-action-court{
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 40%;
}

section.section__group-action-court div{
    display: flex;
    gap: 18px;
}

section.section__group-action-court div#group__action-game{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

div#group__action-game button{
    width: 100%;
}

section.section__group-action-court button{
    border: none;
    border-radius: 8px;
    box-shadow: 2px 2px rgba(255, 255, 255, 0.4);
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    padding: 14px 10px;
    transition: all ease-in-out .2s;
    width: 60%;
}

section.section__group-action-court button.action__game{
    background-color: rgb(255, 34, 174);
}

section.section__group-action-court button.action__game:hover{
    background-color: rgb(214, 29, 146);
}

section.section__group-action-court button.action__rotation{
    background-color: rgb(34, 141, 255);
}

section.section__group-action-court button.action__rotation:hover{
    background-color: rgb(32, 128, 231);
}

.court__square {
  position: relative;
  transition: transform 0.6s ease;
}

.move-right {
  transform: translateX(100px);
}

.move-left {
  transform: translateX(-100px);
}

@media screen and (max-width: 1030px){
    main.main__vb-court{
        width: 50%;
    }

    section.section__group-action-court{
        width: 50%;
    }
}

@media screen and (max-width: 830px){
    main.main__vb-court{
        width: 70%;
    }

    section.section__group-action-court{
        width: 70%;
    }
}

@media screen and (max-width: 630px){
    main.main__vb-court{
        width: 90%;
        grid-template-rows: repeat(6, 80px);
        grid-template-columns: repeat(7, 14%);
    }

    section.section__group-action-court{
        width: 90%;
    }

    div.court__square.inserted{
        padding: 2px;
    }

     div.court__square.inserted p,
     div.court__square.inserted span{
        font-size: 10px;
    }

    section.section__group-action-court div#group__action-game{
        display: flex;
        flex-direction: column;
    }
}