dialog{
    border: none;
    border-radius: 8px;
    margin: auto;
    padding: 18px;
    width: 40%;
}

dialog form{
    display: flex;
    gap: 26px;
    flex-direction: column;
    width: 100%;
    height: auto;
}

section.section__fields{
    display: flex;
    flex-direction: column;
    gap: 22px;
}

section.section__group-radio{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

section.section__group-radio fieldset{
    display: flex;
    border: none;
    gap: 20px;
}

section.section__group-radio fieldset label{
    font-size: 14px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

section.section__group-radio fieldset input[type=radio]{
    accent-color: green;
}

fieldset.field__player{
    display: flex;
    flex-direction: column;
    gap: 4px;
    border: none;
}

fieldset.field__player.checkbox{
    flex-direction: row;
}

fieldset.field__player.checkbox input{
    cursor: pointer;
}

fieldset.field__player.checkbox label{
    text-transform: capitalize;
    cursor: pointer;
}

fieldset.field__player label{
    font-size: 14px;
    font-weight: 700;
}

fieldset.field__player input{
    font-size: 12px;
    outline: none;
    border-radius: 8px;
    padding: 8px 10px;
    border: solid 1px black;
}

fieldset.field__player select{
    font-size: 14px;
    outline: none;
    border-radius: 8px;
    padding: 8px 10px;
    border: solid 1px black;
    text-transform: capitalize;
}

dialog form div{
    display: flex;
    gap: 10px;
}

dialog form button{
    border: none;
    border-radius: 8px;
    box-shadow: 2px 2px rgba(255, 255, 255, 0.4);
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    padding: 14px 10px;
    width: 100%;
    transition: all ease-in-out .4s;
}

dialog form button.btn__cancel{
    background-color: rgb(192, 0, 0);
    color: rgb(240, 240, 240);
}

dialog form button.btn__cancel:hover{
    background-color: rgb(147, 0, 0);
}

dialog form button.btn__confirm{
    background-color: rgb(38, 192, 0);
    color: black;
}

dialog form button.btn__confirm:hover{
    background-color: rgb(29, 145, 0)
}

span#span__add-fields{
    font-size: 14px;
    font-weight: 800;
    padding: 4px;
    text-decoration: underline;
    cursor: pointer;
}


@media screen and (max-width: 1030px){
    dialog{
        width: 50%;
    }
}

@media screen and (max-width: 830px){
    dialog{
        width: 70%;
    }
}

@media screen and (max-width: 630px){
    dialog{
        width: 90%;
    }
} 