menu.menu__main-action{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40%;
}

menu.menu__main-action button{
    border: none;
    border-radius: 8px;
    box-shadow: 2px 2px rgba(255, 255, 255, 0.4);
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    padding: 14px 10px;
    transition: all ease-in-out .2s;
}

menu div.menu__players{
    display: flex;
    gap: 18px;
}

menu div.menu__players button{
    width: 100%;
}

menu div.menu__teams{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

menu.menu__main-action button#btn__dialog-add{
    background-color: rgb(34, 141, 255);
}

menu.menu__main-action button#btn__dialog-add:hover{
    background-color: rgb(32, 128, 231);
}

menu.menu__main-action button#btn__dialog-register{
    background-color: rgb(34, 141, 255);
}

menu.menu__main-action button#btn__dialog-register:hover{
    background-color: rgb(32, 128, 231);
}

menu.menu__main-action button#btn__team-a{
    background-color: rgb(255, 34, 174);
}

menu.menu__main-action button#btn__team-a:hover{
    background-color: rgb(214, 29, 146);
}

menu.menu__main-action button#btn__team-b{
    background-color: rgb(34, 255, 196);
}

menu.menu__main-action button#btn__team-b:hover{
    background-color: rgb(28, 203, 156);
}

menu.menu__main-action button#btn__team-c{
    background-color: rgb(255, 156, 34);
}

menu.menu__main-action button#btn__team-c:hover{
    background-color: rgb(231, 140, 29);
}

@media screen and (max-width: 1030px){
    menu.menu__main-action{
        width: 50%;
    }
}

@media screen and (max-width: 830px){
    menu.menu__main-action{
        width: 70%;
    }
}

@media screen and (max-width: 630px){
    menu div.menu__players{
        flex-direction: column;
    }

    menu.menu__main-action{
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    menu.menu__main-action button{
        width: 100%;
        padding: 18px 10px;
    }
}